<?xml version='1.0' encoding='utf-8'?>
<robot name="rars01">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00000121 0.00002671 0.03970191"
        rpy="0 0 0" />
      <mass
        value="0.70734477" />
      <inertia
        ixx="0.00062372"
        ixy="0.00000008"
        ixz="0.00000008"
        iyy="0.00062088"
        iyz="-0.00000053"
        izz="0.00064203" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1_m0">
    <inertial>
      <origin
        xyz="0.00368283 0.00000000 0.03676353"
        rpy="0 0 0" />
      <mass
        value="0.15406327" />
      <inertia
        ixx="0.00025029"
        ixy="0.00000000"
        ixz="0.00002971"
        iyy="0.00016746"
        iyz="0.00000000"
        izz="0.00021037" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link1_m0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link1_m0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.0643"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1_m0" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8"
      upper="2.8"
      effort="27"
      velocity="10" />
  </joint>
  <link
    name="link2_m1">
    <inertial>
      <origin
        xyz="-0.12500120 0.02752118 0.00183306"
        rpy="0 0 0" />
      <mass
        value="1.05816176" />
      <inertia
        ixx="0.00055358"
        ixy="-0.00000002"
        ixz="0.00000016"
        iyy="0.01413546"
        iyz="0.00000332"
        izz="0.01424834" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link2_m1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link2_m1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.02 -0.029675 0.075"
      rpy="0 0 0" />
    <parent
      link="link1_m0" />
    <child
      link="link2_m1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="3.6"
      effort="27"
      velocity="10" />
  </joint>
  <link
    name="link2_m2">
    <inertial>
      <origin
        xyz="0.16246346 0.02859090 0.05711439"
        rpy="0 0 0" />
      <mass
        value="0.67600000" />
      <inertia
        ixx="0.00050678"
        ixy="-0.00005166"
        ixz="0.00018128"
        iyy="0.00525458"
        iyz="-0.00000039"
        izz="0.00532444" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link2_m2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link2_m2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.250000000000001 0 0"
      rpy="0 0 0" />
    <parent
      link="link2_m1" />
    <child
      link="link2_m2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="27"
      velocity="10" />
  </joint>
  <link
    name="link_3_m3">
    <inertial>
      <origin
        xyz="0.06982672 0.02599104 0.06198016"
        rpy="0 0 0" />
      <mass
        value="0.40800000" />
      <inertia
        ixx="0.00034942"
        ixy="-0.00000032"
        ixz="0.00017848"
        iyy="0.00054836"
        iyz="-0.00000075"
        izz="0.00047248" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link_3_m3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link_3_m3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.232950000000001 0.00377499999999996 0.0570710741093906"
      rpy="0 0 0" />
    <parent
      link="link2_m2" />
    <child
      link="link_3_m3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.0"
      upper="1.4"
      effort="7"
      velocity="10" />
  </joint>
  <link
    name="link_4_m4">
    <inertial>
      <origin
        xyz="0.00032344 0.00000144 -0.04911762"
        rpy="0 0 0" />
      <mass
        value="0.32605000" />
      <inertia
        ixx="0.00014804"
        ixy="0.00000000"
        ixz="0.00000943"
        iyy="0.00014371"
        iyz="0.00000008"
        izz="0.00013050" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link_4_m4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link_4_m4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.0798112070633211 0.0260499999999993 0.0499999999999984"
      rpy="0 0 0" />
    <parent
      link="link_3_m3" />
    <child
      link="link_4_m4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="7"
      velocity="10" />
  </joint>
  <link
    name="link_5_m5">
    <inertial>
      <origin
        xyz="0.01065087 0.00000000 0.00000333"
        rpy="0 0 0" />
      <mass
        value="0.02620000" />
      <inertia
        ixx="0.00000825"
        ixy="0.00000000"
        ixz="0.00000000"
        iyy="0.00000464"
        iyz="0.00000000"
        izz="0.00000475" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link_5_m5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rars01_description/meshes/link_5_m5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.0235 0 -0.049"
      rpy="0 0 0" />
    <parent
      link="link_4_m4" />
    <child
      link="link_5_m5" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2"
      upper="2"
      effort="7"
      velocity="10" />
  </joint>
  <link name="End_link">
    <inertial>
      <origin xyz="-0.1358776 -0.00046489 0.00946022" rpy="0 0 0" />
      <mass value="0.60527119" />
      <inertia ixx="0.00114231" ixy="-7.66E-06" ixz="1.053E-05" iyy="0.00073974" iyz="-6.32E-06" izz="0.00104976" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rars01_description/meshes/End_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rars01_description/meshes/End_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_end" type="fixed">
    <origin xyz="0.195000000000023 0 0" rpy="0 0 0" />
    <parent link="link_5_m5" />
    <child link="End_link" />
  </joint>
  <link name="gripper_left">
    <inertial>
      <origin xyz="-0.03223739 0.01428588 6.15E-06" rpy="0 0 0" />
      <mass value="0.08529926" />
      <inertia ixx="1.866E-05" ixy="-3.18E-06" ixz="0" iyy="6.04E-05" iyz="0" izz="5.513E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rars01_description/meshes/gripper_left.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rars01_description/meshes/gripper_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="gripper_left_joint" type="prismatic">
    <origin xyz="-0.0375 0 0" rpy="0 0 0" />
    <parent link="End_link" />
    <child link="gripper_left" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.05" effort="3" velocity="10" />
  </joint>
  <link name="gripper_right">
    <inertial>
      <origin xyz="-0.03223739 -0.01428588 6.15E-06" rpy="0 0 0" />
      <mass value="0.08529926" />
      <inertia ixx="1.866E-05" ixy="3.18E-06" ixz="0" iyy="6.04E-05" iyz="0" izz="5.513E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rars01_description/meshes/gripper_right.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://rars01_description/meshes/gripper_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="gripper_right_joint" type="prismatic">
    <origin xyz="-0.0375000000000192 0 0" rpy="0 0 0" />
    <parent link="End_link" />
    <child link="gripper_right" />
    <axis xyz="0 -1 0" />
    <limit lower="0" upper="0.05" effort="3" velocity="10" />
    <mimic joint="gripper_left_joint" multiplier="1" offset="0" />
  </joint>
</robot>
